body {
    background: #333;
}

.layer {
    font-size: 50%;
}

/*.layer:hover .group {
    width: .7em;
    height: .7em;
    margin: 2px;
}*/

.group {
    white-space: nowrap;
    display: inline-block;
    height: .4em;
    width: .4em;
    background: #999;
    padding: 2px;
    border-radius: 5px;
    margin: 1px;
}

.group:hover {
    background: #777;
}

.group .container {
    display: none;
}

.group:hover .container {
    background: #777;
    position: relative;
    display: inline-block;
    border-radius: 5px;
    padding: 1px;
    left: 20px;
    top: 20px;
}

.group:hover .item {
    background: #BBB;
    padding: 2px 5px 2px 5px;
    margin: 5px;
    border-radius: 5px;
    white-space: nowrap;
    display: inline-block;
    min-height: 12px;
    font-size: 200%
}
