body {
    background: #333;
}

.layer {
    margin-top: .7em;
}

.group {
    white-space: nowrap;
    display: inline-block;
    height: 1em;
    width: 1em;
    background: #999;
    margin: 5px;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}

.group .container {
    display: none;
}

.group:hover .container {
    background: #999;
    position: relative;
}

.group:hover .item {
    background: #BBB;
    padding: 2px 5px 2px 5px;
    margin: 5px;
    border-radius: 5px;
    white-space: nowrap;
    display: inline-block;
    min-height: 12px;
}
